# nome do serviço sem o prefixo "mechanics-"
SERVICE_NAME=billing

# serviços externos
# aws elbv2 describe-load-balancers --names fiap-mechanics-dev --query "LoadBalancers[*].DNSName" --output text
IDENTITY=http://URL_LOAD_BALANCER
WORK_ORDERS=http://URL_LOAD_BALANCER

# credenciais do Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_NOTIFICATION_URL=
